@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Checkpoint 02 - C#</h1>
    <h2>Participantes</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Ana Flavia Camelo</th>
            <th>Gustavo Kenji Terada</th>
            <th>João Guilherme Carvalho Novaes</th>
            <th>Pedro Chasci Puga</th>
            <th>Lucas Figueiredo Vieira</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>RM561489</td>
            <td>RM562745</td>
            <td>RM566234</td>
            <td>RM565154</td>
            <td>RM561342</td>
        </tr>
        </tbody>
    </table>
</div>